* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: #EEEEEE;
}

#root {
    margin: 0 auto;
}

.button {
    cursor: pointer;

    user-select: none;
}

.grid-cell {
    padding: 5px;
    margin: 2px;
}

.hidden {
    visibility: hidden;
}

.grid-container {
    display: grid;

    grid-template-rows: [header] 33% [body1] 11% [body2] 11% [body3] 11% [footer] 33%;
    grid-template-columns: [left] 50% [right] 50% [end] 0%;
}

.header-item {
    grid-row: header;
    grid-column-start: left;
    grid-column-end: end;
}

.footer-item {
    grid-row: footer;
    grid-column-start: left;
    grid-column-end: end;
}

.body1-left {
    grid-row: body1;
    grid-column: left;

    text-align: right;
}

.body1-right {
    grid-row: body1;
    grid-column: right;
}

.body2-left {
    grid-row: body2;
    grid-column: left;

    text-align: right;
}

.body2-right {
    grid-row: body2;
    grid-column: right;
}

.body3-left {
    grid-row: body3;
    grid-column: left;

    text-align: right;
}

.body3-right {
    grid-row: body3;
    grid-column: right;
}

/* Main Menu */

#player-label {
}

#player-count {
    width: auto;
}

#faker-label {
}

#faker-count {
    width: auto;
}

#category-label {
}

#category {
}

#main-title {
    font-size: x-large;
    font-weight: bold;

    text-align: center;
}

#start-game-button {
    font-size: larger;
    font-weight: bold;

    text-align: center;
    background-color: green;
    color: white;
}


/* Player Screen */

#player-title {
    font-size: x-large;
    font-weight: bold;

    text-align: center;
}

#player-category {
}

#reveal-button {
    grid-column-start: left;
    grid-column-end: end;

    grid-row: body2;

    text-align: center;

    background-color: red;
}

#next-player-button {
    font-size: larger;
    font-weight: bold;

    text-align: center;
    background-color: green;
    color: white;
}
