<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="application/javascript">
            setInterval(function() {
                window.location.reload(true);
            }, 10000);
        </script>
    </head>
    <body>
        <h3>Players:</h3>
        <ul>
            {% for player in players %}
                <li>{{player.name}}</li>
            {% endfor %}
        </ul>

        {% if vip %}
            <form method="POST" action="/{{_id}}/new-round" >
                <input type="submit" value="Start New Round" />
            </form>
        {% endif %}
        <br />
        This will automatically refresh every 10 seconds....
    </body>
</html>